body{
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas: 
    ". headline ."
    ". descriptions ."
    ". isntructions .";
}

.headline{
    grid-area: headline;
}

.descriptions{
    grid-area: descriptions;
}

.instructions{
    grid-area: instructions;    
}